<% provide(:title, 'user page') %>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">

			<!--<h1 class="page-header">My Page</h1> -->
			<h1><i class="fa fa-user"></i> My Page</h1>
			<legend></legend>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<%= gravatar_for current_user, size: 65 %>
				<h1><%= current_user.name %></h1>

				<span> <%= link_to "view my profile", current_user %> </span>
				<span> <%= pluralize(current_user.microposts.count, "micropost") %> </span>
				<legend></legend>
				<%= render 'shared/micropost_form' %>
			</div>
			<div class="col-lg-8 col-md-8">

				<h3>Micropost Feed</h3>
				<%= render 'shared/feed' %>

			</div>

		</div>
	</div>

	<div class="container">
		<div class="row">
			<h2>Time Line</h2>
		</div>
		<div class="qa-message-list" id="wallmessages">
			<div class="message-item" id="m16">
				<div class="message-inner">
					<div class="message-head clearfix">
						<div class="avatar pull-left">
							<a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
						</div>
						<div class="user-detail">
							<h5 class="handle">Oleg Kolesnichenko</h5>
							<div class="post-meta">
								<div class="asker-meta">
									<span class="qa-message-what"></span>
									<span class="qa-message-when"> <span class="qa-message-when-data">Jan 21</span> </span>
									<span class="qa-message-who"> <span class="qa-message-who-pad">by </span> <span class="qa-message-who-data"><a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko">Oleg Kolesnichenko</a></span> </span>
								</div>
							</div>
						</div>
					</div>
					<div class="qa-message-content">
						Yo!
					</div>
				</div>
			</div>

		</div>
	</div>
