<% provide(:title, 'Messages') %>

<div class="row">
	<div class="col-lg-12">
		<h1><i class="fa fa-envelope"></i> <%= current_user.name %>'s Message Box</h1>
		<legend></legend>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="list-group">
				<a href="<%= received_messages_path %>" class="list-group-item"> received <% if unread(current_user) != 0 then %> <span class="badge"><%= unread(current_user) %></span><% end %> </a>
				<a href="<%= sent_messages_path %>" class="list-group-item"> sent </a>
				<a href="<%= message_show_path %>" class="list-group-item"> New Message </a>
			</div>
		</div>

		<div class="col-sm-9 col-md-10">

			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-envelope"></i> send</h3>
				</div>
				<div class="panel-body">
					<div id="result"></div>
					<table class="table table-condensed table-hover" >

						<tbody>
							<% if @received_messages.any? %>

							<%= content_tag_for(:tr, @received_messages) do  |msg| %>
							<td> <% if msg.read_flg==0 then %> <span class="badge">new</span> <% end %> </td>
							<td><a href="<%= received_message_detail_path(msg.id) %>" remote = "true"><i class="fa fa-search"></i></a></td>
							<td><%= gravatar_for msg.post_to, size: 30 %><%= msg.user.name %></td>
							<td><span class="badge"><%= msg.created_at %></span></td> 
							<% end %>

							<% else %>
							not messages
							<% end %>

							<%= render :partial => "users/received_message", :collection => @received_messages %>
						</tbody>

					</table>
					
				<div id="myModal" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									aaaa
									
								</div>
								<div class="modal-body">
									<p>
										<div id="result"></div>
									</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">
										閉じる
									</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div>



					<%= will_paginate @received_messages,:renderer => BootstrapPagination::Rails %>
				</div>
			</div>
		</div>
	</div>
</div>
