<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= home_path %>" >Let's<i class="fa fa-heart"></i> Ask Phrase</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="navbar-brand" href="<%= home_path %>" ><span class="flaticon-birds"></span> Home</a>
			</li>
			<li>
				<a class="navbar-brand" href="<%= about_path %>" ><span class="flaticon-information3"></span> about</a>
			</li>
			<% if signed_in? %>
			
			<li id="fat-menu" class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b> </a>
				<ul class="dropdown-menu">
					<li>
						<%= link_to "Profile", current_user %>
					</li>
					<li>
						<%= link_to "Settings", '#' %>
					</li>
					<li class="divider"></li>
					<li>
						<%= link_to "Sign out", signout_path, method: "delete" %>
					</li>
				</ul>
			</li>
			<% else %>

			<li>
				<a class="navbar-brand" href="<%= signin_path %>" ><span class="glyphicon glyphicon-user"></span> sign in</a>
			</li>
			<% end %>
		</ul>

	</div>

</header>

