<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= home_path %>" >Let's<i class="fa fa-heart"></i> Ask Phrase</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="navbar-brand" href="<%= home_path %>" ><i class="fa fa-home"></i> Home</a>
			</li>
			<li>
				<a class="navbar-brand" href="<%= about_path %>" ><i class="fa fa-info-circle"></i> about</a>
			</li>
			<% if signed_in? %>

			<%= render 'users/nav_logout' %>

			<% else %>
            <!-- 
			<li>
				<a class="navbar-brand" href="<%= signin_path %>" ><span class="glyphicon glyphicon-user"></span> sign in</a>
			</li>
			-->
			<% end %>
		</ul>

	</div>

</header>

